<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.push"
    version="1.0.3-dev">
    <name>PushNotification</name>
    <description>xFace PushNotification Extension</description>
    <license>GPLv3</license>
    <keywords>cordova,xface,push</keywords>

    <js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="xFace.PushNotification" />
    </js-module>

	 <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="android-package" value="com.polyvi.xface.extension.push.XPushNotificationExt"/>
				<param name="onload" value="true"/>
            </feature>
        </config-file>
		<source-file src="src/android/libs/asmack.jar" target-dir="libs/" />
		<source-file src="src/android/res/raw/push.properties" target-dir="res/raw/" />
        <source-file src="src/android/XPushNotificationExt.java" target-dir="src/com/polyvi/xface/extension/push" />
		<source-file src="src/android/XServiceManager.java" target-dir="src/com/polyvi/xface/extension/push" />
		<source-file src="src/android/XNotificationService.java" target-dir="src/com/polyvi/xface/extension/push" />
		<source-file src="src/android/XConnectionManager.java" target-dir="src/com/polyvi/xface/extension/push" />
     </platform>
    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="PushNotification">
                <param name="wp-package" value="PushNotification"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_PUSH_NOTIFICATION"/>
        </config-file>

        <source-file src="src/wp/XPushNotificationExt.cs" />
        <source-file src="src/wp/XPushNotificationHelper.cs" />
    </platform>
</plugin>